.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

nav p {
  width: 100%;
}

nav .nav-links-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 2%;
}

nav .nav-links-container a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

nav .nav-links-container a:hover {
  text-transform: uppercase;
}

.feed-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
}

.feed-container .card {
  margin: 3%;
}

.blog-post-container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.blog-post-container .btn-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;

}

.add-edit-form .form-group .title-wrapper {
  width: 25%;
}


.add-edit-form .form-group .content-wrapper {
  width: 40%;
  /* height: 50vh; */
}